body{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.aniText{
    animation: color-change 15s ease infinite;
}

@keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
  }

header{
    width: 100%;
    text-align: center;
    padding: 5px;
}

nav{
    line-height: 30px;
    height: 600px;
    width: 100px;
    padding: 5px;
    float: left;
}

footer{
    text-align: center;
    height: 10%;
    width: 100%;
    clear: both;
}


aside{
    width: 25%;
    height: 400px;
    float:right;
    padding: 5px;
}

#clrflText{
    color: firebrick;
}

main{
    text-align: center;
    margin-right: 100px;
}