body {
    background-color:aquamarine;
    background-image: linear-gradient(90deg,white, #2eadc2)
}

#blink {
    font-size: 20px;
    font-weight: bold;
    color: #16d646;
    transition: 0.1s;
}

.button {
    width: 100px;
    height: 30px;
    border-radius: 15px;
    background-color: white;
    border-color: skyblue;
}

.lgButton {
    width: 150;
    height: 30px;
    border-radius: 15px;
    background-color: white;
    border-color: skyblue;
}